#free {
  	margin-top: 1em;
  	margin-bottom: 0;
}

#body{
 	background-image: url("../pics/dark_wood.png");
}
#nav{
  padding-top: 18px; 
   float: right; 
   margin: -60px 30px 0 0 ;
}
#td{
   color: black;
   border-right: 1px solid; 
   padding: 11px;
}
#td1{
  color: black;
  margin: 0px 0px 0px -2px;
  padding: 10px;
}
